/** ⇩⇩⇩ MARCOS HERNAN PARELLA ⇩⇩⇩ **/



/* Reseteo de valores. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color:#000000;
    font-family: 'roboto', serif;
}

/** ======== HEADER ======= **/


/* Se agregó flex a todo el header. */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Se agregó padding, estilo a la letra y tamaño al título. */
.header__h1{
    padding-top: 70px;
    padding-bottom: 65px;
    font-family: 'Playfair Display', serif;
    font-size: 35px;
}

/* Se agregó bordes al navegador. */
.header__div__nav{
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
}

/* Se agregó padding y flex al navegador. */
.header__ul{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
}

/* Se agregó fuente de estilo, se agrandó la letra y se quitó punto. */
.header__ul__li{
    font-size: 20px;
    list-style: none;
}

/* Se agregó medidas y padding a la img (Puntitos de color). */
.header__img{
    width: 60px;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
}



/** FOOTER **/


/* Se agregó padding y flex al footer. */
footer{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Se agregó padding, flex y bordes negros al fotter. */
.footer__div{
    padding: 20px;
    display: flex;
    align-items: center;
    border-top: #000000 1px solid;
}

/* Se agregó padding a los parrafos. */
.footer__div__p1{
    padding-right: 30px;
}

/* Se agregó flex, medidas, background y bordes redondos a las img del footer. */
.footer__img-facebook{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    background-color: #BDD8F3;
    border-radius: 100%;
}

/* Se agregó una animación a los iconos al tocarlos. */
.footer__img-facebook:hover{
    animation-name: footerImg;
    animation-duration: initial;
    animation-fill-mode: forwards;
}

/* Se agregó flex, medidas, background y bordes redondos a las img del footer. */
.footer__img-twitter{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    background-color: #E1EFDF;
    border-radius: 100%;
}

/* Se agregó una animación a los iconos al tocarlos. */
.footer__img-twitter:hover{
    animation-name: footerImg;
    animation-duration: initial;
    animation-fill-mode: forwards;
}

/* Se agregó flex, medidas, background y bordes redondos a las img del footer. */
.footer__img-steam{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    background-color: #FFE5EF;
    border-radius: 100%;
}

/* Se agregó una animación a los iconos al tocarlos. */
.footer__img-steam:hover{
    animation-name: footerImg;
    animation-duration: initial;
    animation-fill-mode: forwards;
}

/* Se agregó padding al parrafo del footer. */
.footer__div__p2{
    padding-left: 30px;
}

/* Animación para las imagenes del footer. */
@keyframes footerImg {
    0% { height: 62px; width: 62px;}
    50% { height: 66px; width: 66px;}
    100% { height: 70px; width: 70px;}
}



/** BODY **/


/* Se agregó un fondo a todo el body. */
body {
    background-image: url("assents/bg.png");
}



/** ======== INDEX ======= **/


/* Display flex center. */
.display__flex-center{
    display: flex;
    justify-content: center;
}

/* Alto a la imagén de la consola de video juegos. */
.index__img__consola{
    height: 550px;
    width: auto;
}

/* Font Family, tamaño de leta y alto del parrajo. */
.index__section__p{
    font-family: 'roboto', serif;
    font-size: 23px;
    width: 600px;
}

/* Alto de la imagén de las manos.*/
.index__img__manos{
    height: 280px;
    width: auto;
}



/** ⇧⇧⇧ MARCOS HERNAN PARELLA ⇧⇧⇧ **/



/** ======== RECOMENDACIONES ======= **/


/** ⇩⇩⇩ SECTOR MICHEL ⇩⇩⇩ */


/* boxes, tamaño de letra/box padding, opacidad - y sombras  */
.recomendaciones__main_section__ul__li_box-verde, .recomendaciones__main_section__ul__li_box-celeste, .recomendaciones__main_section__ul__li_box-rosa {
    font-size: 25px;
    padding: 5px 30px;
    border-radius: 50px;
    box-shadow: 1px 1px 10px;
    opacity: 50%; 
}

/* color a cada box */
.recomendaciones__main_section__ul__li_box-verde {
    background-color: #2af110; 
}

/* color a cada box */
.recomendaciones__main_section__ul__li_box-rosa {
    background-color: #df779f; 
}

/* color a cada box */
.recomendaciones__main_section__ul__li_box-celeste {
    background-color: #bdd8f3; 
}

/* hover para aumentar su opacidad y una transicion suave */
.recomendaciones__main_section__ul__li_box-verde:hover, .recomendaciones__main_section__ul__li_box-rosa:hover, .recomendaciones__main_section__ul__li_box-celeste:hover {
    opacity: 100%;
    transition: all 300ms ease-in-out; 
}

/*  */
.recomendaciones__main_section__ul{
    text-align: center;
    display: block;
    list-style: none;
}

/*  */
.recomendaciones__main_section__ul-pd{
    margin-bottom: 2%; 
    margin-top: 2%;
}

/*  */
.recomendaciones__main_section__ul__li{
    padding: 15px
}



/** ⇧⇧⇧ FIN SECTOR MICHEL ⇧⇧⇧ */



/** ⇩⇩⇩ FRANCO ⇩⇩⇩ */

/*  */
.recomendaciones__main__section__iframe{
    margin-top: 60px;
    margin-inline: 10%;
    width: 80%;
}

/* .recomendaciones__h3{
    background-color: rgb(247, 220, 224);
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:x-large;
    letter-spacing: 15px;
    font-weight: 100;
    padding: 1%;
    margin-top: 5px;
}

section h3{
    margin-bottom: 40px;
    text-align: left;
} */

/*  */
.recomendaciones__section{
    padding: 2% 20% 2% 20%;
}

/*  */
.recomendaciones__section__img{
    padding-top: 60px;
    padding-bottom: 40px;
}

/*  */
.recomendaciones__section__p{
    text-align: center;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/** ⇧⇧⇧ FRANCO ⇧⇧⇧  */



/** ======== NUESTRO LOCAL ======= **/


/** ⇩⇩⇩ MARINA AGOTEGARAY Y MICAELA MEDINA ⇩⇩⇩ */


/*  */
.nuestroLocal_tituloPrincipal_section_div{
    text-align: center;
    letter-spacing: 5px;
    font-family: 'roboto', serif;
    font-size: 2.5em;
}

/*  */
.nuestroLocal_tituloMedio_section_div{
    background-color:#ffe5ef; 
    text-align: center;
    display: block;
    width: 100%;
    padding: 20px;
    letter-spacing: 15px;
    font-family: 'roboto', serif;
    font-size: 2em;
}

/*  */
.nuestroLocal_imagen_section_div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*  */
.nuestroLocal_parrafo_section_div{
    font-family: 'roboto', serif;
    text-align: justify;
    width: 50%;
    font-size: 1.8em;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
}

/*  */
.nuestroLocal_imagenes_section_div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/** ⇧⇧⇧ MARINA AGOTEGARAY Y MICAELA MEDINA ⇧⇧⇧  */