/** ⇩⇩⇩ MARCOS HERNAN PARELLA ⇩⇩⇩ **/



/* Reseteo de valores. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color:#000000;
}

/** ======== HEADER ======= **/


/* Se agregó flex a todo el header. */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Se agregó padding, estilo a la letra y tamaño al título. */
.header__h1{
    padding-top: 70px;
    padding-bottom: 65px;
    font-family: 'Playfair Display', serif;
    font-size: 35px;
}

/* Hover al h1 */
.header__h1{
    color: #2af110;
}

/* Se agregó bordes al navegador. */
.header__div__nav{
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
}

/* Se agregó padding y flex al navegador. */
.header__ul{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
}

/* Se agregó fuente de estilo, se agrandó la letra y se quitó punto. */
.header__ul__li{
    font-size: 20px;
    list-style: none;
}

/* Animación a los li */
.header__ul__li:hover{
    transition: .3s;
    transform:scale(1.2);
}

/* color a los anclas */
.header__ul__li-hv:hover{
    color: #B35291;
}

/* Se agregó medidas y padding a la img (Puntitos de color). */
.header__img{
    width: 60px;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
}



/** FOOTER **/


/* Se agregó padding y flex al footer. */
footer{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Se agregó padding, flex y bordes negros al fotter. */
.footer__div{
    padding: 20px;
    display: flex;
    align-items: center;
    border-top: #000000 1px solid;
}

/* Se agregó padding a los parrafos. */
.footer__div__p1{
    padding-right: 30px;
}

/* Se agregó flex, medidas, background y bordes redondos a las img del footer. */
.footer__img-facebook{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    background-color: #BDD8F3;
    border-radius: 100%;
}

/* Se agregó una animación a los iconos al tocarlos. */
.footer__img-facebook:hover{
    transition: .3s;
    transform:scale(1.2);
}

/* Se agregó flex, medidas, background y bordes redondos a las img del footer. */
.footer__img-twitter{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    background-color: #E1EFDF;
    border-radius: 100%;
}

/* Se agregó una animación a los iconos al tocarlos. */
.footer__img-twitter:hover{
    transition: .3s;
    transform:scale(1.2);
}

/* Se agregó flex, medidas, background y bordes redondos a las img del footer. */
.footer__img-steam{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    background-color: #FFE5EF;
    border-radius: 100%;
}

/* Se agregó una animación a los iconos al tocarlos. */
.footer__img-steam:hover{
    transition: .3s;
    transform:scale(1.2);
}

/* Se agregó padding al parrafo del footer. */
.footer__div__p2{
    padding-left: 30px;
}



/** BODY **/


/* Se agregó un fondo a todo el body. */
body{
    width: 100%;
    background-image: url("/assents/bg.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #FFFDF2; 
}



/** ======== INDEX ======= **/

/* Carrusel. */
.index__carrusel{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}

/* Display flex center. */
.display__flex-center{
    display: flex;
    justify-content: center;
}

/* Alto a la imagén de la consola de video juegos. */
.index__img__consola{
    height: 550px;
    width: auto;
}

/* Font Family, tamaño de leta y alto del parrajo. */
.index__section__p{
    font-family: 'roboto', serif;
    font-size: 23px;
    width: 600px;
}

/* Alto de la imagén de las manos.*/
.index__img__manos{
    height: 280px;
    width: auto;
}



/** ⇧⇧⇧ MARCOS HERNAN PARELLA ⇧⇧⇧ **/



/** ======== RECOMENDACIONES ======= **/


/** ⇩⇩⇩ SECTOR MICHEL ⇩⇩⇩ */


/* Boxes, tamaño de letra/box padding, opacidad y sombras.  */
.recomendaciones__main_section__ul__li_box-verde, .recomendaciones__main_section__ul__li_box-celeste, .recomendaciones__main_section__ul__li_box-rosa {
    font-size: 25px;
    padding: 5px 30px;
    border-radius: 50px;
    box-shadow: 1px 1px 10px;
    opacity: 50%; 
}

/* Color a cada box. */
.recomendaciones__main_section__ul__li_box-verde {
    background-color: #2af110; 
}

/* Color a cada box. */
.recomendaciones__main_section__ul__li_box-rosa {
    background-color: #df779f; 
}

/* Color a cada box. */
.recomendaciones__main_section__ul__li_box-celeste {
    background-color: #bdd8f3; 
}

/* Hover para aumentar su opacidad y una transicion suave. */
.recomendaciones__main_section__ul__li_box-verde:hover, .recomendaciones__main_section__ul__li_box-rosa:hover, .recomendaciones__main_section__ul__li_box-celeste:hover {
    opacity: 100%;
    transition: all 300ms ease-in-out; 
}

/*  */
.recomendaciones__main_section__ul{
    text-align: center;
    display: block;
    list-style: none;
}

/*  */
.recomendaciones__main_section__ul-pd{
    margin-bottom: 2%; 
    margin-top: 2%;
}

/*  */
.recomendaciones__main_section__ul__li{
    padding: 15px
}



/** ⇧⇧⇧ FIN SECTOR MICHEL ⇧⇧⇧ */



/** ⇩⇩⇩ ??? ⇩⇩⇩ */

/*  */
.recomendaciones__main__section__iframe{
    margin-top: 60px;
    margin-inline: 10%;
    width: 80%;
}

.recomendaciones__h3{
    background-color: rgb(247, 220, 224);
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:x-large;
    letter-spacing: 15px;
    font-weight: 100;
    padding: 1%;
    margin-top: 5px;
    margin-bottom: 40px;
    text-align: left;
}

/*  */
.recomendaciones__section{
    padding: 2% 20% 2% 20%;
}

/*  */
.recomendaciones__section__img{
    padding-top: 60px;
    padding-bottom: 40px;
}

/*  */
.recomendaciones__section__p{
    text-align: center;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/** ⇧⇧⇧ ??? ⇧⇧⇧  */



/** ======== NUESTRO LOCAL ======= **/


/** ⇩⇩⇩ MARINA AGOTEGARAY Y MICAELA MEDINA ⇩⇩⇩ */


/* Padding al main. */
.nuestroLocal__main-pd{
    padding-top: 50px;
}

/*  */
.nuestroLocal_tituloPrincipal_section_div{
    text-align: center;
    letter-spacing: 5px;
    font-family: 'roboto', serif;
    font-size: 2.5em;
}

/* Padding al h2. */
.nuestroLocal__main__h2-pd{
    padding-top: 50px;
    padding-bottom: 80px;
}

/*  */
.nuestroLocal_tituloMedio_section_div{
    background-color:#ffe5ef; 
    text-align: center;
    display: block;
    width: 100%;
    padding: 20px;
    letter-spacing: 15px;
    font-family: 'roboto', serif;
    font-size: 2em;
}

/*  */
.nuestroLocal_imagen_section_div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*  */
.nuestroLocal_parrafo_section_div{
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'roboto', serif;
    text-align: justify;
    width: 50%;
    font-size: 1.8em;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
}

/*  */
.nuestroLocal_imagenes_section_div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/** ⇧⇧⇧ MARINA AGOTEGARAY Y MICAELA MEDINA ⇧⇧⇧  */



/** ======== CONTACTO ======= **/


/** ⇩⇩⇩ CHRISTIAN NUÑEZ ⇩⇩⇩ */


/* titulo principal */
.contacto__h1__titulo {
    font-family: "Playfair Display", serif;
    text-align: center;
    letter-spacing: 5px;
    padding: 2%;
    font-weight: 500;
}

/* titulo secundario */
.contacto__h2__titulo2 {
    background-color: #ffe5ef;
    letter-spacing: 15px;
    justify-content: center;
    text-align: center;
    background-color: #ffe5ef;
    display: block;
    width: 100%;
    padding: 15px;
    font-weight: 500;
}

/* titulos formularios */
.contacto__nombres__formularios {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* textarea */
.contacto__div__textarea {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

/* formularios */
.contacto__forms {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 40%;
    margin-left: 40%;
}

/* id formularios */
.contacto {
    display: flex;
    justify-content: center;
}

/* botones de check */
.contacto__div__checkForm {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* boton enviar */
.contacto__botonEnviar{
    background: #ffe5ef;
    color: #2b2b2b;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    width: 80px;
    height: 30px;
    margin: 10px;
}

/* Hover al boton de enviar. */
.contacto__botonEnviar:hover{
    cursor: pointer;
}


/** ⇧⇧⇧ CHRISTIAN NUÑEZ ⇧⇧⇧  */


/** ⇩⇩⇩ FRANCO BARGAS ⇩⇩⇩ */


/* Section Display FAQ. */
.contacto__display__flex__faq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'roboto', serif;
    margin: auto;
    padding: 0;
    max-width: 1140px;
}

/* Caja Contenedor. */
.contacto__section__div__caja{
    display: flex;
    justify-content: center;
    padding: 0 2rem 0 2rem;
}

/* Caja Columnas. */
.contacto__section__div__columnas{
    display: flex;
    justify-content: center;
}

/* Titulo FAQ. */
.contacto__section__div__h3 h3{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
}

/* Subtitulo de las Columnas. */
.contacto__section__div__div__columnas__h3{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin: 0;
}

/* Parrafo de las Columnas. */
.contacto__section__div__div__columnas__p{
    display: center;
    justify-content: center;
    padding: 0 .5rem 0 .5rem;
}


/** ⇧⇧⇧ FRANCO BARGAS ⇧⇧⇧  */



/** ======== TURNOS ======= **/


/** ⇩⇩⇩ FLORENCIA PEDRAZA ⇩⇩⇩ */


/* Padding a la primera sección. */
.turnos__section__padre{
    padding-top: 50px;
}

/* Padding al título. */
.turnos__section__h1-pd{
    padding-bottom: 30px;
}

/* Personalicé fuente del título. */
.turnosTitulo__section_div {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 4px;
    text-align: center;
}

/* Personalicé fuente, ancho y pading del título medio. */
.turnosTituloMedio__section_div {
    background-color: #ffe5ef;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: lighter;
    letter-spacing: 15px;
    text-align: center;
    width: 100%;
    padding: 15px;
}

/* Personalicé bordes, márgenes y fuente de tabla. */
table {
    border-collapse: collapse;
    border-color: #E1EFDF;
    border: 1px solid #E1EFDF;
    border-width: 3px;
    border-spacing: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Roboto', serif;
    font-size: 16px;
    text-align: center;
}

/* Personalicé bordes y padding de filas y columnas de tabla. */
table, th, td {
    border-collapse: collapse;
    border-color: #E1EFDF;
    border: 1px solid #E1EFDF;
    border-width: 3px;
    padding: 1px 10px;
    text-align: center;
}
table th {
    border-collapse: collapse;
    border-color: #E1EFDF;
    border: 1px solid #E1EFDF;
    border-width: 3px;
    width: 120px;
    height: 40px;
    text-align: center;
}
table td {
    border-width: 3px;
    padding: 10px 10px;
    text-align: center;
}
tr:nth-of-type(1) > th {
    border-collapse: collapse;
    background-color: blanchedalmond;
    border-color: #E1EFDF;
    border-width: 3px;
    text-align: center;
}

/* Personalicé fondo de columna Disponible. */
.turnosdisponible__section_div {
    background-color:#E1EFDF;
}

/* Personalicé fondo de columna No Disponible. */
.turnosnodisponible__section_div {
    background-color: #ffe5ef;
}

/* Personalicé Sección botón. */
.turnosReserva__section_div {
    text-align: center;
}

/* Personalicé fuente, fondo y bordes de botón Reservar. */
.turnosboton__section_div {
    font-family: 'Roboto', serif;
    font-size: 15px;
    background: #ffe5ef;
    border: 1px solid #eee;
    border-radius: 15px;  
    box-shadow: 3px 3px 3px #eee;
    width: 80px;
    height: 30px;
}

/* Hover al botón de reservar. */
.turnosboton__section_div:hover{
    cursor: pointer;
}


/** ⇧⇧⇧ FLORENCIA PEDRAZA ⇧⇧⇧  */


/* Lazy Load Styles */
.card-image {
	display: block;
	min-height: 20rem; /* layout hack */
	background: #fff center center no-repeat;
	background-size: cover;
	filter: blur(3px); /* blur the lowres image */
}

.card-image > img {
	display: block;
	width: 100%;
	opacity: 0; /* visually hide the img element */
}

.card-image.is-loaded {
	filter: none; /* remove the blur on fullres image */
	transition: filter 1s;
}




/* Layout Styles */
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: sans-serif;
}

.card-list {
	display: block;
	margin: 1rem auto;
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
}

.card {
	display: inline-block;
	width: 90%;
	max-width: 20rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-description {
    background-color: #F5E3E9;
	display: block;
	padding: 1em 0.5em;
	color: #515151;
	text-decoration: none;
}

.card-description > h2 {
	margin: 0 0 0.5em;
}

.card-description > p {
	margin: 0;
}

.turnos__card__h2{
    color: #98527E;
}

.turnos__cards__p{
    padding-bottom: 10px;
}

.turnos__cards__input{
    border-radius: 10%;
    width: 80px;
    height: 40px;
    color: #ffffff;
    background-color: #98527E;
}